<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Agence Automobile - outil de scan des annonces automobiles</title>
  <meta name="scan les annonces automobiles belges" content="">
  <link rel="stylesheet" href="css/normalize.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script src="js/main.js"></script>

</head>
<body>
<header>
  <div class="row">
    <div class="col-xs-8 col-sm-8">
      <a href="/"><img class="logo" src="img/aa_logo.svg" alt="logo agence automobile" /></a>
    </div>
    <div class="col-xs-4 col-sm-4">
        <div class="menu-icons-tools">
          <div class="menu-icons"><a href="/" data-toggle="tooltip" data-placement="bottom" title="Tableau de bord"><i class="ion-ios-home "></i></a></div>
          <div class="menu-icons"><a href="/settings" data-toggle="tooltip" data-placement="bottom" title="Paramétrage des filtres"><i class="ion-ios-settings-strong"></i></a></div>
          <div class="menu-icons"><a href="/logout" data-toggle="tooltip" data-placement="bottom" title="Déconnexion"><i class="ion-power"></i></a></div>
      </div>
    </div>
  </div>
</header>
