<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Agence Automobile - outil de scan des annonces automobiles</title>
  <meta name="scan les annonces automobiles belges" content="">
  <link rel="stylesheet" href="css/normalize.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
</head>
<body>
<div class="form-login">
  <div class="center-block text-center">
    <img src="img/aa_logo.svg" alt="logo agence automobile" />
    <h3>Outil de scraping</h3>
  </div>

  <form action="/login" method="post">
  <div class="form-group">
    <label for="Email">Adresse mail</label>
    <input type="text" class="form-control" id="Email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
  </div>
  <!-- <div class="checkbox">
    <label><input type="checkbox">Restez connecté</label>
  </div> -->
  <button type="submit" class="btn btn-default" value="submit">Connexion</button>
  <!-- <div class="password-forgot"><p>Mot de passe oublié ?</p></div> -->
</form>

</div>
</body>

<script src="js/main.js"></script>


</html>
